In [1]:
import pandas as pd

In [2]:
S2016 = pd.read_csv('2016-2017.csv')
S2017 = pd.read_csv('2017-2018.csv')
S2018 = pd.read_csv('2018-2019.csv')
S2019 = pd.read_csv('2019-2020.csv')
S2020 = pd.read_csv('2020-2021.csv')
S2021 = pd.read_csv('2021-2022.csv')

In [3]:
alls = pd.read_csv("AllSeason.csv")

In [4]:
alls

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,E0,22/05/2022,Crystal Palace,Man United,1,0,H,1,0,H,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
2276,E0,22/05/2022,Leicester,Southampton,4,1,H,0,0,D,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
2277,E0,22/05/2022,Liverpool,Wolves,3,1,H,1,1,D,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
2278,E0,22/05/2022,Man City,Aston Villa,3,2,H,0,1,A,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
2279,E0,22/05/2022,Norwich,Tottenham,0,5,A,0,2,A,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [5]:
380*6

2280

In [6]:
alls.dtypes

Div          object
Date         object
HomeTeam     object
AwayTeam     object
FTHG          int64
             ...
PCAHA       float64
MaxCAHH     float64
MaxCAHA     float64
AvgCAHH     float64
AvgCAHA     float64
Length: 127, dtype: object

In [7]:
alls["Date"] = pd.to_datetime(alls["Date"])

In [8]:
alls

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2016-08-13,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2016-08-13,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2016-08-13,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2016-08-13,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2016-08-13,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,E0,2022-05-22,Crystal Palace,Man United,1,0,H,1,0,H,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
2276,E0,2022-05-22,Leicester,Southampton,4,1,H,0,0,D,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
2277,E0,2022-05-22,Liverpool,Wolves,3,1,H,1,1,D,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
2278,E0,2022-05-22,Man City,Aston Villa,3,2,H,0,1,A,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
2279,E0,2022-05-22,Norwich,Tottenham,0,5,A,0,2,A,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [9]:
alls.dtypes

Div                 object
Date        datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
                 ...
PCAHA              float64
MaxCAHH            float64
MaxCAHA            float64
AvgCAHH            float64
AvgCAHA            float64
Length: 127, dtype: object

In [10]:
alls["target"] = (alls["FTR"])

In [11]:
alls

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,target
0,E0,2016-08-13,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
1,E0,2016-08-13,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,E0,2016-08-13,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D
3,E0,2016-08-13,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
4,E0,2016-08-13,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,E0,2022-05-22,Crystal Palace,Man United,1,0,H,1,0,H,...,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16,H
2276,E0,2022-05-22,Leicester,Southampton,4,1,H,0,0,D,...,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01,H
2277,E0,2022-05-22,Liverpool,Wolves,3,1,H,1,1,D,...,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80,H
2278,E0,2022-05-22,Man City,Aston Villa,3,2,H,0,1,A,...,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87,H
2279,E0,2022-05-22,Norwich,Tottenham,0,5,A,0,2,A,...,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89,A

In [12]:
alls["target"] = pd.factorize(alls["target"])[0]
print (alls["target"])

0       0
1       0
2       1
3       2
4       2
       ..
2275    2
2276    2
2277    2
2278    2
2279    0
Name: target, Length: 2280, dtype: int64

In [13]:
alls

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,target
0,E0,2016-08-13,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,E0,2016-08-13,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,E0,2016-08-13,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,E0,2016-08-13,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,E0,2016-08-13,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,E0,2022-05-22,Crystal Palace,Man United,1,0,H,1,0,H,...,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16,2
2276,E0,2022-05-22,Leicester,Southampton,4,1,H,0,0,D,...,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01,2
2277,E0,2022-05-22,Liverpool,Wolves,3,1,H,1,1,D,...,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80,2
2278,E0,2022-05-22,Man City,Aston Villa,3,2,H,0,1,A,...,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87,2
2279,E0,2022-05-22,Norwich,Tottenham,0,5,A,0,2,A,...,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89,0

In [14]:
alls["opp_code"] = alls["AwayTeam"].astype("category").cat.codes

In [15]:
alls["tim_code"] = alls["HomeTeam"].astype("category").cat.codes

In [16]:
alls["tim"] = alls["HomeTeam"]

In [17]:
alls

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,target,opp_code,tim_code,tim
0,E0,2016-08-13,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,0,25,5,Burnley
1,E0,2016-08-13,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,0,28,8,Crystal Palace
2,E0,2016-08-13,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,1,26,9,Everton
3,E0,2016-08-13,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,2,14,12,Hull
4,E0,2016-08-13,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,2,24,16,Man City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,E0,2022-05-22,Crystal Palace,Man United,1,0,H,1,0,H,...,1.74,2.23,1.88,2.25,1.74,2.16,2,17,8,Crystal Palace
2276,E0,2022-05-22,Leicester,Southampton,4,1,H,0,0,D,...,1.88,2.03,1.94,2.26,1.87,2.01,2,22,14,Leicester
2277,E0,2022-05-22,Liverpool,Wolves,3,1,H,1,1,D,...,2.06,1.83,2.19,1.99,2.07,1.80,2,30,15,Liverpool
2278,E0,2022-05-22,Man City,Aston Villa,3,2,H,0,1,A,...,2.05,1.86,2.09,2.03,2.01,1.87,2,1,16,Man City
2279,E0,2022-05-22,Norwich,Tottenham,0,5,A,0,2,A,...,1.96,1.94,2.16,1.98,1.99,1.89,0,26,20,Norwich

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
rf = RandomForestClassifier(n_estimators= 100, min_samples_split=10, random_state=1)

In [20]:
train = alls[alls["Date"]<'2022-01-01']

In [21]:
test = alls[alls["Date"]>'2022-01-01']

In [22]:
predictors = ["opp_code","FTHG","FTAG","tim_code"]

In [23]:
predictors

['opp_code', 'FTHG', 'FTAG', 'tim_code']

In [24]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, random_state=1)

In [25]:
preds = rf.predict(test[predictors])

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
error = accuracy_score(test["target"], preds)

In [28]:
error

1.0

In [29]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [30]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted   0   1   2
actual
0          69   0   0
1           0  39   0
2           0   0  86

In [33]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds, average='micro')

1.0